@model List<Smart_ELearning.ViewModels.Attendance.ScheduleAttendanceVm>

@{
    ViewData["Title"] = "ScheduleAttendance";
}

<h2>Attendance</h2>
@{var count = Model.Count();}
<div>
    <p>
        <a href="@Url.Action("ClassAttendance","Attendance",new { classId=ViewBag.ClassId})">
            <i class="fas fa-long-arrow-alt-left"></i>Class Attendance
        </a>
    </p>
</div>
<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<form method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Student ID
                </th>
                <th>
                    Test
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < count; i++)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].SpecificId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].SubmitInRequire)
                    </td>
                    <td>
                        @if (Model[i].IsPresent == false)
                        {
                            <div>
                                <input type="radio" asp-for="@Model[i].Status" value="Absent" checked="checked" />Absent ||

                                <input type="radio" asp-for="@Model[i].Status" value="Present" />Present
                                <input type="hidden" asp-for="@Model[i].AttendanceId" />
                                <input type="hidden" asp-for="@Model[i].ScheduleId" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <input type="radio" asp-for="@Model[i].Status" value="Absent" />Absent ||

                                <input type="radio" asp-for="@Model[i].Status" value="Present" checked="checked" />Present
                                <input type="hidden" asp-for="@Model[i].AttendanceId" />
                                <input type="hidden" asp-for="@Model[i].ScheduleId" />
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" />
</form>