@model List<Smart_ELearning.ViewModels.Test.SubmitDetailVm>;

@{
    ViewData["Title"] = "Smart-Elearning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var index = 1;}
<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        @foreach (var item in Model)
        {

            <dt class="col-sm-2">
                Question number @(index++):
            </dt>
            <dd class="col-sm-10">
                @item.QuestionContent
            </dd>
            //
            <dt class="col-sm-2">
                Choice A:
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceA
            </dd>
            //
            <dt class="col-sm-2">
                Choice B:
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceB
            </dd>
            //
            <dt class="col-sm-2">
                Choice C
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceC
            </dd>
            //
            <dt class="col-sm-2">
                Choice D
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceD
            </dd>
            //
            <dt class="col-sm-2">
                Correct:
            </dt>
            <dd class="col-sm-10">
                @item.CorrectAnswer
            </dd>
            //
            <dt class="col-sm-2">
                Student Answer:
            </dt>
            <dd class="col-sm-10">
                @item.StudentAnswer
            </dd>
        }
    </dl>
</div>