@model Smart_ELearning.ViewModels.TestQuestionVm

@{
    ViewData["Title"] = "TestQuestion";
}
@{ int index = 1;}


<div>
    <dl class="row">
        <dt class="col-sm-8">
            <h4>Test Title: @Model.Title</h4>
        </dt>
        
    </dl>
    <hr />
    @foreach (var item in Model.question)
    {
        <dl class="row">


            <form>
                <table class="table table-striped border">
                    <tr class=" table-secondary">
                        <th>
                            <label>Question number @(index++):</label>
                        </th>
                        <th>
                            <label> @item.Content</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Choice A:
                        </th>
                        <th>
                            @item.ChoiceA
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Choice B:
                        </th>
                        <th>
                            @item.ChoiceB
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Choice C:
                        </th>
                        <th>
                            @item.ChoiceC
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Choice D:
                        </th>
                        <th>
                            @item.ChoiceD
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Correct:
                        </th>
                        <th>
                            @item.CorrectAnswer
                        </th>
                    </tr>
                </table>
            </form>
        </dl>}
</div>
<div>
    @* @Html.ActionLink("Edit", "", new { /* id = Model.PrimaryKey */ }) | *@
    <a asp-action="Index">Back to List</a>
</div>