@model Smart_ELearning.ViewModels.TestQuestionVm

@{
    ViewData["Title"] = "TestQuestion";
}
@{ int index = 0;}
<h1>TestQuestion</h1>

<div>
    <h4>TestQuestionVm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        @foreach (var item in Model.question)
        {

            <dt class="col-sm-2">
                Question number @(index++):
            </dt>
            <dd class="col-sm-10">
                @item.Content
            </dd>
            //
            <dt class="col-sm-2">
                Choice A:
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceA
            </dd>
            //
            <dt class="col-sm-2">
                Choice B:
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceB
            </dd>
            //
            <dt class="col-sm-2">
                Choice C
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceC
            </dd>
            //
            <dt class="col-sm-2">
                Choice D
            </dt>
            <dd class="col-sm-10">
                @item.ChoiceD
            </dd>
            //
            <dt class="col-sm-2">
                Correct:
            </dt>
            <dd class="col-sm-10">
                @item.CorrectAnswer
            </dd>
        }
    </dl>
</div>
<div>
    @* @Html.ActionLink("Edit", "", new { /* id = Model.PrimaryKey */ }) | *@
    <a asp-action="Index">Back to List</a>
</div>