@model Smart_ELearning.ViewModels.TestQuestionVm

@{
    ViewData["Title"] = "TestQuestion";
}
@{ int index = 1;}

<div>

    <h3>Test Title: @Model.Title</h3>

    <hr />
    @foreach (var item in Model.question)
    {
        <div class="row">
            <div class="col-sm-2">
                <strong>Question @(index++)</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.Content</span>
            </div>
            <div class="col-sm-2">
            </div>

            <div class="col-sm-2">
                <strong>Choice A</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.ChoiceA</span>
            </div>
            <div class="col-sm-2">
            </div>

            <div class="col-sm-2">
                <strong>Choice B</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.ChoiceB</span>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <strong>Choice C</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.ChoiceC</span>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <strong>Choice D</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.ChoiceD</span>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <strong>Correct Answer</strong>
            </div>
            <div class="col-sm-8">
                <span style="white-space: pre-line">@item.CorrectAnswer</span>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <hr style="font-size:5px;" />
    }
</div>
<div>
    @* @Html.ActionLink("Edit", "", new { /* id = Model.PrimaryKey */ }) | *@
    <a asp-action="Index">Back to List</a>
</div>